<a href="https://colab.research.google.com/github/Belva99/gingervalua26/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
myVariable_1=4
myVariable_2=6

print(myVariable_1+myVariable_2)
print(myVariable_1-myVariable_2)
print(myVariable_1*myVariable_2)
print(myVariable_1**myVariable_2)
print(myVariable_1/myVariable_2)

10
-2
24
4096
0.6666666666666666

In [ ]:
aux1=True
aux2=False

print(aux1 and aux2)
print(aux1 or aux2)
print(not aux1)

False
True
False

In [ ]:
myNameIS='Ginger valuarte'
print(myNameIS)

print(myNameIS.upper())
print(myNameIS.lower())
print(myNameIS.upper())

Ginger valuarte
GINGER VALUARTE
ginger valuarte
GINGER VALUARTE

In [ ]:
tmp='Cesar, Carlos,  santiago'
print(tmp)
print(tmp.split(','))

Cesar, Carlos,  santiago
['Cesar', ' Carlos', '  santiago']

In [ ]:
scholaList=['notebook', 'pen', 'ruler', 'eraser', 'pencil']
print(scholaList)
scholaList.append('computer')
print(scholaList)
#print(scholaList[3])
#scholaList.pop(3)
del scholaList[3]
print(scholaList)

['notebook', 'pen', 'ruler', 'eraser', 'pencil']
['notebook', 'pen', 'ruler', 'eraser', 'pencil', 'computer']
['notebook', 'pen', 'ruler', 'pencil', 'computer']

In [ ]:
myList=list(range(15))
print(myList)
print(myList[4:11])
print(myList[-5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[4, 5, 6, 7, 8, 9, 10]
10

In [ ]:
myDiccionario={'cat': 'cute', 'dog': 'fat' , 'lion': 'strong'}

print(type(myDiccionario))


for key, value in myDiccionario.items():
  print(key,value)
  print(f' key {key}, value {value}')
  print('key %s, value %s'%(key,value))
  #print('the key is: {} and the value: {}'.format(key, value))
  #myDiccionario['monkey']='so cute'
  print('----------------')
  print(myDiccionario)

<class 'dict'>
cat cute
 key cat, value cute
key cat, value cute
----------------
{'cat': 'cute', 'dog': 'fat', 'lion': 'strong'}
dog fat
 key dog, value fat
key dog, value fat
----------------
{'cat': 'cute', 'dog': 'fat', 'lion': 'strong'}
lion strong
 key lion, value strong
key lion, value strong
----------------
{'cat': 'cute', 'dog': 'fat', 'lion': 'strong'}

In [ ]:
tmp=list()
for i in range(1, 101, 1):
  if i%2==0:
    tmp.append(i)
print(tmp)
print('----------------')
aux=[i for i in range (1, 101) if i%2==0]
print(aux)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
----------------
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
tmpList=[i**2 for i in range(1, 101 ) if i%2==0]
print(tmpList)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]